section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
  }
  
  .big-text {
    font-size: 65px;
      font-weight: 400;
      color: #1D2758;
      letter-spacing: 0.085em;
      margin-bottom: 7rem;
      margin-left: 60px;
      margin-top: 60px;
  }
  
  .low-text  {
      font-size: 50px;
      line-height: 121.19%;
      letter-spacing: 0.085em;
      margin-left: 60px;
      width: 75%;
  
  color: #000000;
  }
  
  
  
      
  
  .big-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 300px;
    height: 77px;
    background: #F23E6E;
    border-radius: 13px;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold; 
    margin-left: 60px;
    margin-top: 60px; 
  }
  
  
  
  .big-btn a {
    margin-top: 50px;
  }
  
  .homeimage img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  
  }
  .homeimage {
  background-image: url(./asset/images/ImageBack.png);
  
  }
  
  @media screen and (max-width: 750px) {
    .homeimage{
      display: none;
    }
  
    .big-text  {
      font-size: 2.5rem;
      margin-bottom:5rem ;
    }
    .low-text{
      font-size: 2rem;
    }
    .big-btn{
      margin-top: 40px;
      z-index: -1;
    }
    
    }